<jqxDockingLayout #dockingLayoutReference [width]="'100%'" [height]="'90%'" [layout]='layout'>
    <!--The panel content divs can have a flat structure-->
    <!--autoHideGroup-->
    <div data-container="ToolboxPanel">
        List of tools
    </div>
    <div data-container="HelpPanel">
        Help topics
    </div>
    <div data-container="createPanel">
        <div style="padding: 5px;">
            <button id="button1"  style="margin:5px;">create</button>    
        </div>
    </div>
    <div data-container="newDocPanel">
        <div style="padding: 5px;">
            <button id="button2"  style="margin:5px;">createDoc</button>    
        </div>
    </div>
    <!--documentGroup-->
    <div data-container="Document1Panel">
        <div style="padding: 5px;">
        <textarea id="Document1TextArea" style="margin: 5px;"></textarea>
        </div>
    </div>
    <div data-container="Document2Panel">
        <div style="padding: 5px;">
        <textarea id="Document2TextArea" style="margin: 5px;"></textarea>
        </div>
    </div>
    <!--bottom tabbedGroup-->
    <div data-container="ErrorListPanel">
        No errors.
    </div>
    <div data-container="PerformancePanel">
        <div id="cpuUsage" style="width: 99%; height: 100px;">
        </div>
    </div>
    <!--right tabbedGroup-->
    <div data-container="SolutionExplorerPanel">
        <div id="solutionExplorerTree" style="border: none;">
        </div>
    </div>
    <div data-container="PropertiesPanel">
        List of properties
    </div>
</jqxDockingLayout>
            

<div style="margin-top: 25px">
    <jqxButton style="float: left; margin-right: 10px"
        (onClick)="saveLayout()" [width]="90">
        Save Layout
    </jqxButton>

    <jqxButton #loadLayoutButton style="float: left"
        (onClick)="loadLayout()" [width]="90" >
        Load Layout
    </jqxButton>
</div>



